@import '../mixins/indents';

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1140px;
	margin: 0 auto;
	&_baner {
		// padding-top: 120px;
		// padding-bottom: 10%;
		@include indentsForSection(19%, 13%);
	}
	&_services {
		@include indentsForSection(120px, 10%);
	}
	&_team {
		@include indentsForSection(120px, 10%);
	}
	&_skills {
		@include indentsForSection(120px, 10%);
	}
	&_portfolio {
		@include indentsForSection(120px, 10%);
	}
	&_testimonials {
		@include indentsForSection(120px, 2%);
	}
	&_form {
		width: 100%;
		@include indentsForSection(120px, 10%);
	}
}