@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}

@media only screen and (max-width:1024px) {
	.main {
		.banner {
			.wrapper_baner {
				margin-bottom: 10%;
				margin-top: 15%;
				h1 {
					font-size: 3.5rem;
					margin-top: 0%;
					margin-bottom: 5%;
				}
			}
		}
		.services {
			.wrapper_services {
				padding-top: 8%;
				padding-bottom: 8%;
			}
		}
		.team {
			.wrapper_team {
				padding-top: 8%;
				padding-bottom: 8%
			}
		}
		.skills {
			.wrapper_skills {
				padding-top: 8%;
				padding-bottom: 8%
			}
		}
		.portfolio {
			.wrapper_portfolio {
				padding-top: 8%;
				padding-bottom: 8%;
				.desktops {
					flex-direction: column;
					figure {
						width: 100%;
					}
				}
			}
		}
		.testimonials {
			.wrapper_testimonials {
				padding-top: 8%;
				padding-bottom: 0%;
				.people_reviews {
					article {
						margin-bottom: 8%;
					}
				}
			}	
		}
		.form {
			.wrapper_form {
				padding-top: 8%;
				padding-bottom: 8%
			}
		}
	}

}
@media only screen and (max-width:768px) {
	.header {
		top: 6%;
	}
	.main {
		.banner {
			.wrapper_baner {
				margin-bottom: 10%;
				margin-top: 15%;
				h1 {
					font-size: 2.6rem;
				}
				.btn-orange {
					width: 33%;
					height: 60px;
					padding-top: 16px;
					font-size: 1.6rem;
				}
			}
		}
		.services {
			.wrapper_services {
				padding-top: 4%;
				padding-bottom: 4%;
				.columns_services {
					flex-wrap: wrap;
					article {
						width: 50%;
						margin-top: 40px;
					}
				}
			}
		}
		.team {
			.wrapper_team {
				padding-top: 4%;
				padding-bottom: 4%;
				.columns_team {
					flex-wrap: wrap;
					article {
						width: 50%;
						margin-top: 40px;
						h6 {
							margin-bottom: 10px;
						}
						p {
							margin: 0;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
		.skills {
			.wrapper_skills {
				padding-top: 4%;
				padding-bottom: 4%;
				.columns_skills {
					flex-wrap: wrap;
					article {
						width: 50%;
						margin-top: 20px;
						.progress_bar {
							p {
								left: 40%;
							}
						}
						h4 {
							margin-top: 15px;
							margin-bottom: 15px;
						}
					}
				}
			}
		}
		.portfolio {
			.wrapper_portfolio {
				padding-top: 4%;
				padding-bottom: 4%;
			}
		}
		.testimonials {
			.wrapper_testimonials {
				padding-top: 4%;
				padding-bottom: 0%;
				.people_reviews {
					flex-direction: column;
					article {
						width: 75%;
						margin: 0 auto;
						margin-bottom: 6%;
					}
				}
			}	
		}
		.form {
			.wrapper_form {
				padding-top: 4%;
				padding-bottom: 4%
			}
		}
	}
}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

}
