@import '../mixins/indents';

// ----------------------------------------------

@media screen and (min-width: 771px) {
	.header {
		.wrapper_header {
			.nav {
				.menu {
					display: flex;
				}
			}
		}
	}
}

// -----------------------------------------------

@media screen and (max-width:1025px) {

	.header {
		.wrapper_head {
			max-width: 960px;
		}
	}
	.main {
		.headline {
			h2 {
				font-size: 3rem;
			}
			p {
				font-size: 1.6rem;
				margin-bottom: 0;
			}
		}
		.baner {
			.wrapper_baner {
				@include indentsForSection(18%, 10%); //indentsForSection(padding-top, padding-bottom)
				h1 {
					font-size: 3.2rem;
					margin-top: 0%;
					margin-bottom: 5%;
					width: 65%;
				}
				.btn-orange {
					width: 26rem;
				}
			}
		}
		.services {
			.wrapper_services {
				@include indentsForSection(8%, 8%);
				.columns_services {
					article {
						margin-top: 30px;
						img {
							height: 100px;
						}
						h4 {
							font-size: 1.8rem;
							margin-top: 14px;
							margin-bottom: 14px;
						}
						p {
							font-size: 1.3rem;
							margin-top: 10px;
							margin-bottom: 10px;
						}
					}
				}	
			}
		}
		.team {
			.wrapper_team {
				@include indentsForSection(8%, 8%);
				.columns_team {
					article {
						margin-top: 25px;
						width: 50%;
						img {
							height: 150px;
						}
						h4 {
							font-size: 1.8rem;
							margin-top: 10px;
						}
						h6 {
							font-size: 1.3rem;
							margin-bottom: 5px;
						}
						p {
							font-size: 1.3rem;
						}
						.icons {
							a {
								width: 2.6rem;
								height: 2.6rem;
								i {
									font-size: 1.4rem;
								}
							}
						}
					}
				}	
			}
		}
		.skills {
			.wrapper_skills {
				@include indentsForSection(8%, 8%);
				.columns_skills {
					article {
						margin-top: 25px;
						.progress_bar {
							img {
								height: 120px;
							}
							p {
								font-size: 3rem;
								top: 7%;
								left: 34%;
							}
						}
						h4 {
							font-size: 2rem;
							margin-top: 10px;
							margin-bottom: 4px;
						}
					}
				}	
			}
		}
		.portfolio {
			.wrapper_portfolio {
				@include indentsForSection(8%, 8%);
				.desktops {
					flex-direction: column;
					figure {
						width: 100%;
						figcaption {
							margin-top: 20px;
							font-size: 1.6rem;
						}
					}
				}
				.btn-green {
					width: 26rem;
					margin-top: 12px;
				}
			}
		}
		.testimonials {
			.wrapper_testimonials {
				@include indentsForSection(8%, 0);
				.people_reviews {
					article {
						margin-bottom: 8%;
						.review {
							p {
								font-size: 1.8rem;
							}
							h4 {
								font-size: 2.2rem;
								margin-top: 20px;
							}
							h6 {
								font-size: 1.5rem;
							}
						}
					}
				}
			}	
		}
		.form {
			.wrapper_form {
				@include indentsForSection(8%, 8%);
			}
		}
	}
	.footer {
		height: 100px;
		.wrapper {
			padding-top: 26px;
			.nav {
				ul {
					li {
						a {
							font-size: 2.2rem;
						}
					}
				}
			}
		}
	}

}

// ----------------------------------------------------------------

@media screen and (max-width: 905px) {
	.header {
		top: 40px;
	}
	.main {
		.testimonials {
			.wrapper_testimonials {
				.people_reviews {
					article {
						width: 51%;
						.review {
							margin-left: 30px;
							h4 {
								margin-top: 12px;
							}
						}
					}
				}
			}
		}
	}
}

// ----------------------------------------------------------------

@media screen and (max-width:769px) {

	.header {
		top: 30px;
		.wrapper_header {
			max-width: 960px;
			.logo {
				height: 32px;
			}
			.nav {
				margin-right: 28px;
				position: relative;
				.menu-toggle {
					display: inline-block;
					border: none;
					background-color: transparent;
					padding: 0;
					width: 40px;
					cursor: pointer;
					span {
						display: block;
						height: 3px;
						background: $white;
						+ span {
							margin-top: 6px;
						}
					}
				}
				.menu {
					display: none;
					&-visible {
						display: block;
						position: absolute;
						height: auto;
						background: rgba(4,17,50,0.8);
						border-radius: 8px;
						width: 100px;
						padding-left: 30%;
						top: -45%;
						right: 110%;		
						li {
							margin-left: 0;
							a {
								padding: 10px 0;
							}
						}
					}
				}
			}
		}
	}
	.main {
		.headline {
			h2 {
				font-size: 2.6rem;
			}
			p {
				font-size: 1.4rem;
				margin-bottom: 0;
			}
		}
		.baner {
			.wrapper_baner {
				@include indentsForSection(16%, 8%); //indentsForSection(padding-top, padding-bottom)
				h1 {
					font-size: 2.8rem;
					margin-top: 0%;
					margin-bottom: 2%;
				}
				.btn-orange {
					width: 18rem;
					height: 6rem;
					font-size: 1.4rem;
					padding-top: 18px;
				}
			}
		}
		.services {
			.wrapper_services {
				@include indentsForSection(6%, 6%);
				.columns_services {
					article {
						margin-top: 18px;
						img {
							height: 90px;
						}
						h4 {
							font-size: 1.8rem;
						}
						p {
							font-size: 1.3rem;
						}
					}
				}	
			}
		}
		.team {
			.wrapper_team {
				@include indentsForSection(6%, 6%);
				.columns_team {
					article {
						margin-top: 24px;
						img {
							height: 150px;
						}
						h4 {
							font-size: 1.8rem;
							margin-top: 4px;
						}
						h6 {
							font-size: 1.3rem;
							margin-bottom: 0px;
						}
						p {
							font-size: 1.3rem;
							line-height: 1.8rem;
							margin-top: 8px;
							margin-bottom: 8px;
						}
					}
				}	
			}
		}
		.skills {
			.wrapper_skills {
				@include indentsForSection(6%, 6%);
				.columns_skills {
					article {
						margin-top: 24px;
						.progress_bar {
							img {
								height: 100px;
							}
							p {
								font-size: 3rem;
								top: 27%;
								left: 32%;
								margin: 0;
							}
						}
						h4 {
							font-size: 1.6rem;
							margin-top: 10px;
							margin-bottom: 0px;
						}
					}
				}	
			}
		}
		.portfolio {
			.wrapper_portfolio {
				@include indentsForSection(6%, 6%);
				.nav {
					ul {
						li {
							width: 60px;
							a {
								font-size: 1.4rem;
							}
						}
					}
				}
				.desktops {
					flex-direction: column;
					margin-top: 16px;
					figure {
						width: 100%;
						figcaption {
							margin-top: 12px;
							font-size: 1.4rem;
						}
					}
				}
				.btn-green {
					width: 18rem;
					height: 6rem;
					font-size: 1.4rem;
					margin-top: 10px;
					padding-top: 20px;
				}
			}
		}
		.testimonials {
			.wrapper_testimonials {
				@include indentsForSection(6%, 0);
				.people_reviews {
					margin-top: 20px;
					article {
						margin-bottom: 4%;
						img {
							height: 90px;
						}
						.review {
							margin-left: 18px;
							p {
								font-size: 1.6rem;
							}
							h4 {
								font-size: 1.8rem;
								margin-top: 8px;
							}
							h6 {
								font-size: 1.3rem;
							}
						}
					}
				}
			}	
		}
		.form {
			.wrapper_form {
				@include indentsForSection(6%, 6%);
				.section_form {
					width: 75%;
					margin-top: 40px;
					form {
						.input_name, .input_email, .textarea {
							label {
								font-size: 1.4rem;
							}
							input {
								height: 48px;
							}
							.form-control {
								font-size: 1.4rem;
							}
						}
						.textarea {
							margin-top: 22px;
						}
						.btn-blue {
							width: 18rem;
							height: 5.6rem;
							font-size: 1.4rem;
							margin-top: 36px;
						}
					}
				}
			}
		}
	}
	.footer {
		height: 86px;
		.wrapper {
			padding-top: 24px;
			.nav {
				ul {
					li {
						a {
							font-size: 1.8rem;
						}
					}
				}
			}
		}
	}
}

// ---------------------------------------------------

@media screen and (max-width:670px) {
	.main {
		.baner {
			.wrapper_baner {
				h1 {
					width: 70%;
				}
			}
		}
		.services {
			.columns_services {
				flex-wrap: wrap;
				article {
					width: 50%;
				}
			}
		}
		.team {
			.columns_team {
				flex-wrap: wrap;
				article {
					width: 50%;
				}
			}
		}
		.portfolio {
			.desktops {
				figure {
					img {
						height: 250px;
					}
				}
			}
		}
		.testimonials {
			.wrapper_testimonials {
				.people_reviews {
					article {
						width: 70%;
					}
				}
			}
		}
	}
}

// --------------------------------------------------

@media screen and (max-width:580px) {
	.main {
		.baner {
			.wrapper_baner {
				h1 {
					width: 70%;
					font-size: 2.4rem;
					line-height: 4rem;
				}
			}
		}
	}
	.footer {
		.wrapper {
			.nav {
				ul {
					li {
						a {
							font-size: 1.6rem;
						}
					}
				}
			}
		}
	}
}

// ---------------------------------------------------

@media screen and (max-width:500px) {
	.main {
		.headline {
			p {
				&.headline_services {
					margin: 0 18%;
				}
				&.headline_team {
					margin: 0 22%;
				}
				&.headline_skills {
					margin: 0 18%;
				}
				&.headline_form {
					margin: 0 16%;
				} 
			}
		}
		.baner {
			height: 400px;
			.wrapper_baner {
				h1 {
					width: 70%;
					font-size: 2rem;
					line-height: 3.4rem;
				}
			}
		}
		.skills {
			.wrapper_skills {
				.columns_skills {
					flex-wrap: wrap;
					article {
						width: 50%;
						.progress_bar {
							p {
								left: 41%;
							}
						}
					} 
				}
			}
		}
		.portfolio {
			.wrapper_portfolio {
				.desktops {
					figure {
						img {
							height: 225px;
						}
					}
				}
			}
		}

		
	}
}

// ---------------------------------------------------

@media screen and (max-width:426px) {
	
	.header {
		top: 18px;
		.wrapper_header {
			max-width: 960px;
			.logo {
				height: 22px;
				margin-left: 2.8rem;
			}
		}
	}
	.main {
		.headline {
			h2 {
				font-size: 2rem;
			}
			p {
				font-size: 1.2rem;
				margin-bottom: 0;
				&.headline_services {
					margin: 0 16%;
				}
				&.headline_team {
					margin: 0 20%;
				}
				&.headline_skills {
					margin: 0 18%;
				} 
			}
		}
		.baner {
			height: 370px;
			.wrapper_baner {
				@include indentsForSection(16%, 0); //indentsForSection(padding-top, padding-bottom)
				h1 {
					font-size: 1.8rem;
					line-height: 2.8rem;
				}
				.btn-orange {
					width: 12rem;
					height: 4rem;
					font-size: 1.2rem;
					padding-top: 9px;
					margin-top: 8%;
				}
			}
		}
		.services {
			.wrapper_services {
				@include indentsForSection(4%, 4%);
				.columns_services {
					flex-wrap: wrap;
					article {
						width: 50%;
						margin-top: 28px;
						img {
							height: 90px;
						}
						h4 {
							font-size: 1.6rem;
							margin: 6px 0;
						}
						p {
							font-size: 1.2rem;
						}
					}
				}	
			}
		}
		.team {
			.wrapper_team {
				@include indentsForSection(4%, 4%);
				.columns_team {
					article {
						margin-top: 24px;
						img {
							height: 125px;
						}
						h4 {
							font-size: 1.6rem;
							margin-top: 4px;
						}
						h6 {
							font-size: 1.2rem;
							margin-bottom: 0px;
						}
						p {
							font-size: 1.2rem;
							line-height: 1.6rem;
							margin-top: 6px;
							margin-bottom: 8px;
						}
						.icons {
							a {
								width: 2.4rem;
								height: 2.4rem;
								i {
									font-size: 1.3rem;
								}
							}
						}
					}
				}	
			}
		}
		.skills {
			.wrapper_skills {
				@include indentsForSection(4%, 4%);
				.columns_skills {
					article {
						margin-top: 24px;
						.progress_bar {
							img {
								height: 100px;
							}
							p {
								font-size: 2.8r;
								top: 26%;
								left: 40%;
								margin: 0;
							}
						}
						h4 {
							font-size: 1.6rem;
							margin-top: 10px;
							margin-bottom: 0px;
						}
					}
				}	
			}
		}
		.portfolio {
			.wrapper_portfolio {
				@include indentsForSection(4%, 4%);
				.nav {
					ul {
						li {
							width: 60px;
							a {
								font-size: 1.4rem;
							}
						}
					}
				}
				.desktops {
					flex-direction: column;
					margin-top: 16px;
					figure {
						width: 100%;
						margin-bottom: 30px;
						img {
							height: 200px;
						}
						figcaption {
							margin-top: 6px;
							font-size: 1.2rem;
						}
					}
				}
				.btn-green {
					width: 14rem;
					height: 4rem;
					font-size: 1.2rem;
					padding-top: 11px;
				}
			}
		}
		.testimonials {
			.wrapper_testimonials {
				@include indentsForSection(4%, 4%);
				.people_reviews {
					flex-direction: column;
					margin-top: 20px;
					article {
						margin-bottom: 4%;
						width: 95%;
						margin: 10px auto;
						img {
							height: 90px;
							margin-left: 5%;
						}
						.review {
							margin-left: 18px;
							p {
								font-size: 1.4rem;
							}
							h4 {
								font-size: 1.6rem;
								margin-top: 6px;
							}
							h6 {
								font-size: 1.2rem;
							}
						}
					}
				}
			}	
		}
		.form {
			.wrapper_form {
				@include indentsForSection(4%, 4%);
				.headline {
					p.headline_form {
						white-space: pre-line;
					}
				}
				.section_form {
					width: 75%;
					margin-top: 30px;
					form {
						.input_name, .input_email, .textarea {
							label {
								font-size: 1.4rem;
							}
							input {
								height: 48px;
							}
							.form-control {
								font-size: 1.4rem;
							}
						}
						.input_name {
							width: 100%;
							margin-right: 0;
						}
						.input_email {
							width: 100%;
							margin-top: 20px;
						}
						.textarea {
							margin-top: 20px;
						}
						.btn-blue {
							width: 14rem;
							height: 4rem;
							font-size: 1.2rem;
							margin-top: 28px;
							padding-top: 0;
						}
					}
				}
			}
		}
	}
	.footer {
		height: 70px;
		.wrapper {
			padding-top: 18px;
			padding-bottom: 10px;
			.nav {
				ul {
					flex-wrap: wrap;
					li {
						width: 33%;
						a {
							font-size: 1.4rem;
						}
					}
				}
			}
		}
	}

}

// ------------------------------------------------------------------
	
@media screen and (max-width:376px) {

	.main {
		.headline {
			p {
				&.headline_services {
					margin: 0 18%;
				}
				&.headline_team {
					margin: 0 18%;
				}
				&.headline_skills {
					margin: 0 18%;
				}
				&.headline_form {
					margin: 0 16%;
				}
			} 
		}
		.wrapper_baner {
			h1 {
				width: 80%;
			}
		}
		.services {
			.wrapper_services {
				.columns_services {
					article {
						h4 {
							font-size: 1.4rem;
						}
						p {
							font-size: 1.1rem;
						}
					}
				}
			}
			
		}
		.team {
			.wrapper_team {
				.columns_team {
					article {
						h4 {
							font-size: 1.4rem;
						}
						h6, p {
							font-size: 1.1rem;
						}
					}
				}
			}
			
		}
		.portfolio {
			.wrapper_portfolio {
				.desktops {
					figure {
						img {
							height: 175px;
						}
					}
				}
			}
		}
		.testimonials {
			.wrapper_testimonials {
				.people_reviews {
					article {
						.review {
							p {
								font-size: 1.3rem;
							}
							h4 {
								font-size: 1.4rem;
							}
							h6 {
								font-size: 1.1rem;
							}
		
						}
					}
				}
			}
		}

	}
	.footer {
		height: 90px;
		.wrapper {
			padding-top: 6px;
			nav {
				ul {
					flex-wrap: wrap;
					li {
						width: 33%;
					}
				}
			}
		}
	}



}

// -------------------------------------------------------

@media screen and (max-width: 326px) {
	.main {
		.headline {
			p {
				&.headline_team {
					margin: 0 15%;
				}
				&.headline_skills {
					margin: 0 12%;
				}
				&.headline_portfolio {
					margin: 0 20%;
				}
			}
		}
		.team {
			.wrapper_team {
				.columns_team {
					article {
						width: 100%;
					}
				}
			}
		}
		.skills {
			.wrapper_skills {
				.columns_skills {
					article {
						.progress_bar {
							img {
								height: 90px;
							}
							p {
								font-size: 2.8rem;
								top: 27%;
								left: 37%;
							}
						}
						h4 {
							font-size: 1.5rem;
						}
					}
				}
			}
		}
		.portfolio {
			.wrapper_portfolio {
				.desktops {
					figure {
						img {
							height: 150px;
						}
					}
				}
			}
		}
		.testimonials {
			.wrapper_testimonials {
				.people_reviews {
					article {
						img {
							height: 70px;
							margin-left: 2%;
						}
					}
				}
			}
		}
	}
}

// --------------------------------------------------------------------

@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

}
