.btn {
	display: inline-block;
	width: 293px;
	height: 70px;
	text-decoration-line: none;
	color: $white;
	border-radius: 6px;
	font-family: 'Titillium Web';
	font-size: 1.8rem;
	text-align: center;
	padding-top: 22px;
	&-orange {
		background-color: $orangeBtn;
		border-bottom: solid #C86A40;
	}
	&-green {
		margin-top: 24px;
		background-color: $greenBtn;
		border-bottom: solid #14A58C;
	}
	&-blue { 
		margin-top: 58px;
		background-color: $blueBtn;
    border: solid #30bae7;
    border-bottom: solid #299ec5;
		padding-top: 0;
		cursor: pointer;
	}
}

.menu-toggle {
	display: none;
}

// @mixin button($backgroundColorBtn, $colorBtn, $borderBottomBtn) {
// 	display: inline-block;
// 	width: 293px;
// 	height: 70px;
// 	background-color: $backgroundColorBtn;
// 	text-decoration-line: none;
// 	color: $colorBtn;
// 	border-radius: 6px;
// 	border-bottom: solid $borderBottomBtn;
// 	font-family: 'Titillium Web';
// 	font-size: 1.8rem;
// 	text-align: center;
// 	padding-top: 22px;
// }