
$font-size_h4: 2.4rem;
$font_size_h6: 1.6rem;

// color of section
$violet:  #87509C; 		// baner
$green: #17C2A4;			// services
$grey: #E7F1F8;				// team
$white: #fff;				  // skills 
$biege: #FFDD99;			// portfolio
$pink: #D74680;				// testimonials
$blue: #3C5499; 			// form
$darkBlue: #344B8E;		// footer

// color of button
$orangeBtn: #EB7D4B;
$greenBtn: $green;
$blueBtn: #30bae7; 

// color of icons
$darkGrey: #BDD1DF;